@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  /* Enable smooth scrolling for the entire document */
  html {
    scroll-behavior: smooth;
  }

  /* Width of the scrollbar */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
    @apply bg-inherit bg-zinc-900;
  }

  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-2xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-200;
  }
}
/* globals.css */
html {
  scroll-behavior: auto;
}
